*.swp
*.swo
*~
*.bak
Build
blib/*
_build/*
MANIFEST.bak
*.tar.gz
*META.yml
Makefile
cover_db/*
*.log
err
log$
nytprof.out
nytprof/*
t/tmp/*
out.dat
META.json
*.vim
1
lib/perl5/*
man/
XML-OPML-SimpleGen-*/
